
**/\.idea/

*.class

**/\.vscode/

Assignment01/SocketProgramming/~\$HTTP\.ppt

Assignment01/SocketProgramming/~\$SMTP\.ppt

Assignment01/SocketProgramming/~\$Socket Programming Java\.ppt

Assignment01/HTTPSocket/log\.txt

Assignment01/SMTPClient/received-emails/


**/cmake-build-debug/*

Assignment02/DVR/venv/

*.out

Assignment02/DVR/\.idea/workspace\.xml

Assignment02/DVR/\.idea/vcs\.xml
